name: Automated Dataset Preprocessing (MSML)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Setup Python environment
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # 3. Install dependencies
      - name: Install dependencies
        run: pip install pandas numpy scikit-learn

      # 4. Run preprocessing automation
      - name: Run preprocessing script
        run: |
          python preprocessing/automate_Ahmad_Alfim_Majid_Roifi.py

      # 5. Commit & push preprocessed dataset
      - name: Commit preprocessed dataset
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add preprocessing/namadataset_preprocessing/
          git commit -m "Automated preprocessing: update dataset" || echo "No changes to commit"
          git push
